@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

body {
    background-image: url(images/assorted-cover.jpg);
    text-align: center;
    max-width: 760px;
} 

h1, h2, h3, h4 {
    font-family: 'Amatic SC', cursive;
}
header, footer, main {
    background-color: white;
    margin: 0;
}
header ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}
nav {
    align-items: center;
}
header ul li {
    color: black;
    flex: 1 1 100%;
    text-decoration: none;
    padding: 10px; 
    font-size: 14px;
}
header ul li a {
    color: white;
    text-decoration: none;
}
header li a:hover {
    background-color: #4c96d7;
    color: #3a3a3a;
    padding: 14px;
}