@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300&family=Rock+Salt&display=swap');
#titleBlock{
    background-color: #e3b3bf;
    border-bottom: black 5px solid;
}
h1{
    font-family: 'Rock Salt', cursive;
    padding: 20px;
}
body{
    text-align: center;
    font-family: 'BenchNine', sans-serif;
}
li{
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}
li a {
    text-decoration: none;
}
.navigation ul {
    text-align: center;
    list-style: none;
}
.navigation{
    float: left;
    height: 500px;
    width: 20%;
    background-color: #d97e94;
    border-right: black 3px solid;
}
#midpinkblock{
    background-color: #de9bab;
    height: 500px;
    width: 50px;
    border-right: black .5px solid;
}
img{
    padding: 20px;
    max-width: 25%;
}