@import url('https://fonts.googleapis.com/css2?family=BenchNine:wght@300&family=Rock+Salt&display=swap');
#titleBlock{
    background-color: #ffe6ec;
    border-bottom: black 5px solid;
    text-align: left;
}
h1{
    font-family: 'Rock Salt', cursive;
    padding: 10px;
    margin-left: 27%;
}
body{
    text-align: center;
    font-family: 'BenchNine', sans-serif;
    margin: 0;
}
li{
    font-size: 24px;
    color: black;
    text-align: center;
    font-weight: bold;
    padding: 20px;
}
li a {
    color: black;
    text-decoration: none;
}
.navigation ul {
    text-align: center;
    list-style: none;
}
.navigation{
    float: left;
    height: 500px;
    width: 20%;
    background-color: #ed919a;
    border-right: black .5px solid;
}
#midpinkblock{
    float: left;
    background-color: #ffc4ca;
    height: 500px;
    width: 50px;
    border-right: black 3px solid;
}
img{
    padding: 20px;
    max-width: 25%;
}
li a:hover{
    border-bottom: black 1px solid;
    padding: 5px;
}
#current{
    border-left: black 1px solid;
    border-right: black 1px solid;
    padding: 5px;
}
input{
    align-items: right;
    margin: 10px;
}